@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> signUser;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/css/styles.css"/>
    <link rel="stylesheet" href="~/css/flatpickr.css" />
    
    <!--<script src="./JS/jQueryRotate.js"></script>-->
    <script src="https://kit.fontawesome.com/51b8b313be.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <ul class="navbar-nav" id="navbar">
                <li class="nav-item"><a class="nav-link">Home</a></li>
                <li class="nav-item"><a class="nav-link">About</a></li>
                <li class="nav-item"><a class="nav-link">Assignments</a></li>
                <li class="nav-item"><a class="nav-link">Account</a></li>
            </ul>
            <div>
                @if(signUser.IsSignedIn(User))
                {
                    <form method="post">
                        <button class="btn btn-danger" type="submit" asp-controller="Account" asp-action="LogOut">
                            Log Out
                        </button>
                    </form>
                    //<span><a>@Html.ActionLink("Log Out", "LogOut", "Account")</a></span>
                }
                else
                {
                    <span><a>@Html.ActionLink("Register", "Register", "Account")</a></span>
                    <span><a>@Html.ActionLink("Login", "Login", "Account")</a></span>
                }
                
            </div>
        </div>
    </nav>
    
    <div class="container">
        <div class="row">
           
            <div class="col-xl-2 col-lg-5">
                <div class="row">
                    <div id="taskListContainer" class="col-sm-12">
                            @await Component.InvokeAsync("TaskList") 
                    </div>
                </div>
            </div>
            <div class="col-xl-10">
            
                <div id="content">
                    @RenderBody()
                </div>
            
            </div>
        </div>
    </div>
    

    <script src="~/JS/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>  
    <script src="~/JS/flatpickr.js"></script>
    <script src="~/JS/TestFile.js"></script>
    <script src="~/JS/FormHandler.js"></script>
    <script src="~/JS/scripts.js"></script>
    
</body>
</html>
