@model ToDo.ViewModels.AssignmentListModel;

<div asp-validation-summary="ModelOnly"></div>
<div class="form-container">
    <label asp-for="AssignmentEditViewModel.AssignmentName"></label>
    <div>
        <input asp-for="AssignmentEditViewModel.AssignmentName" class="form-input" />
        <span asp-validation-for="AssignmentEditViewModel.AssignmentName"></span>
    </div>
</div>
<div class="form-container">
    <label asp-for="AssignmentEditViewModel.AssignmentDescription"></label>
    <div>
        <textarea asp-for="AssignmentEditViewModel.AssignmentDescription" class="form-input"></textarea>
        <span asp-validation-for="AssignmentEditViewModel.AssignmentDescription"></span>
    </div>
</div>
<div class="form-container">
    <label asp-for="AssignmentEditViewModel.DueDate"></label>
    <div>
        <input asp-for="AssignmentEditViewModel.DueDate" class="form-input" />
        <span asp-validation-for="AssignmentEditViewModel.DueDate"></span>
    </div>
</div>
