:root {
    --text-color: #000000;
    
    --main-color: #fff7d6;
    --secondary-color: #00c6c3;
    --other-color: #1c1f3b
}

* {
    color: var(--text-color);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

body {
    /*background: hsla(234, 36%, 17%, 1)*/
    background: var(--main-color)
}

.cd {
    width: 10rem;
}

@media screen and (max-width: 996px){
 .cd{
     width: 18em;
 }
}

select {
    font-size: 16px;
    background-color: hsl(304, 23%, 76%);
    color: #333;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0.5em;
}
#navbar li a{
    color:inherit
}

.cd {
    /*background-color: hsla(54, 36%, 17%, 1);*/
    background-color: var(--secondary-color)
}

    .cd:hover {
        background-color: hsla(54, 36%, 17%, 0.7);
    }

    .cd.active {
        background-color: hsla(54, 36%, 17%, 0.7);
    }

.form-input{
    border-radius: 50px;
    padding:0.4em;
}

.form-input, select, option{
    color: black;
}

.button-base {
    padding: 0.5em 1.0em;
    display: inline-block;
    border-radius: 0.5em;
    color: hsl(0, 0%, 100%);
    
}

a {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
}

    a:hover {
        text-decoration: none;
        color: hsl(0, 0%, 100%);
    }

    .account-link{
        color: hsl(218, 100%, 59%)
    }

        .account-link:hover {
            color: hsl(218, 100%, 80%)
        }

.task-holder{
    cursor:pointer;
}

.card-body:hover{

}

.task-anchor {
    color:black;
    float: right;
}

a{
    
    color:inherit;
}

.sort-container{
    
}

.task-holder:hover{
    background-color: hsl(0, 0%, 80%)
}

.submit-a-button {
    background-color: hsla(0, 0%, 80%, 1);
    color: black;
    
}

.delete-a-button {
    background-color: hsla(25, 100%, 40%, 1);
}

.submit-button{
    color: hsl(0, 0%, 100%)
}

.submit-button a{
    text-decoration: none;
    color: hsl(0, 0%, 100%)
}