body {
}

.form-input{
    border-radius: 50px;
    padding:0.4em;
}

.button-base {
    padding: 0.5em 1.0em;
    display: inline-block;
    border-radius: 0.5em;
    color: hsl(0, 0%, 100%);
}

a {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
}

    a:hover {
        text-decoration: none;
        color: hsl(0, 0%, 100%);
    }

.submit-a-button {
    background-color: hsl(207, 100%, 44%)
}

.delete-a-button{
    background-color:hsl(0, 99%, 56%)
}

.submit-button{
    color: hsl(0, 0%, 100%)
}

.submit-button a{
    text-decoration: none;
    color: hsl(0, 0%, 100%)
}