@model ToDo.ViewModels.AssignmentListModel;

<form class="task-view" method="post">
    
    @await Html.PartialAsync("_TaskInput")

    <button type="submit" class="btn btn-primary">Submit</button>
</form>