@model ToDo.ViewModels.AssignmentListModel;

<form class="task-view" asp-action="EditAssignment" asp-controller="Assignment" method="post">
    <input type="hidden" asp-for="AssignmentEditViewModel.AssignmentID"/>
    @await Html.PartialAsync("_TaskInput")

    <button type="submit" class="btn btn-primary">Submit</button>
</form>