@model ToDo.ViewModels.LoginViewModel;

<form method="post">
    <div asp-validation-summary="ModelOnly"></div>
    <div class="form-container">
        <label asp-for="Email"></label>
        <div class="form-input">
            <input asp-for="Email" placeholder="Enter Your Email:" />
            <span asp-validation-for="Email"></span>
        </div>
    </div>
    <div class="form-container">
        <label asp-for="Password"></label>
        <div class="form-input">
            <input asp-for="Password" placeholder="Password" />
            <span asp-validation-for="Password"></span>
        </div>
    </div>

    <button type="submit">Register</button>
</form>
