@model ToDo.ViewModels.RegisterViewModel;

<h2 class="my-4">Register</h2>
<form method="post">
    <div asp-validation-summary="ModelOnly"></div>
    <div class="form-container">
        <label asp-for="Email"></label>
        <div>
            <input asp-for="Email" placeholder="Enter Your Email:" class="form-input"/>
            <span asp-validation-for="Email"></span>
        </div>
    </div>
    <div class="form-container">
        <label asp-for="Password"></label>
        <div>
            <input asp-for="Password" placeholder="Password" class="form-input" />
            <span asp-validation-for="Password"></span>
        </div>
    </div>
    <div class="form-container">
        <label asp-for="ConfirmPassword"></label>
        <div>
            <input asp-for="ConfirmPassword" class="form-input" />
            <span asp-validation-for="ConfirmPassword"></span>
        </div>
    </div>
    
    <button type="submit" class="btn btn-primary my-4">Register</button>
    <span class="mx-4">Have an account? <a class="account-link" asp-action="Login" asp-controller="Account">Log In</a></span>
</form>
